<div style="padding: 50px; background-color: green; color: white;">
	<div ng-hide="Identity.isAuthenticated()">
		Username: <input type="text" ng-model="username"></input>
		Password: <input type="password" ng-model="pass"></input>
		<a href='#' ng-click="signin()">Sign in</a>
	</div>
	<div ng-show="Identity.isAuthenticated()">
		Hello, {{ Identity.currentUser().email }}
		<a href='#' ng-click="signout()">Sign out</a>
	</div>
	<div>
		<a href="/v1/api/auth/facebook">Login with Facebook</a>
	</div>
	<div>
		<a href="/v1/api/auth/google" class="btn btn-danger">Login with  Google Testing</a>
	</div>
	<div ng-show="Identity.isAuthenticated()">
		<strong>Full user info:</strong>
		<span>{{ Identity.currentUser() }}<span>
		<div>
			<!--http://runkeeper.com/developer/healthgraph/login-plugin#configure-rklogin-->
			<a href='https://runkeeper.com/apps/authorize?client_id=eeb040061cfb486d98a4a90c5a984004&redirect_uri={{ site_url }}%2Fv1%2Fapi%2Fauth%2Frunkeeper%2Fcallback&response_type=code&state='><img src='//static1.runkeeper.com/images/assets/connect-blue-white-200x38.png'/></a>
		</div>
		<div>
			<!--https://strava.github.io/api/v3/oauth/n-->
			<a href='https://www.strava.com/oauth/authorize?client_id=7562&redirect_uri={{ site_url }}%2Fv1%2Fapi%2Fauth%2Fstrava%2Fcallback&response_type=code&state='><img src='//strava.github.io/api/images/ConnectWithStrava.png'/></a>
		</div>
	</div>
</div>