<div>

	<div id="header">
		<account></account>
	</div>
	<div id="content">

		<div ui-view />

		
		Content starts here - Hello from the base file.
		<!-- Testing the navigation -->
		<ul>
			<li>
				<a ui-sref="base.activities">Activities</a>
			</li>
		</ul>
		
	</div>
	<div id="footer"></div>
	
</div>